[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = git://github.com/vim-scripts/L9.git
[submodule "bundle/perl-support"]
	path = bundle/perl-support
	url = git://github.com/vim-scripts/perl-support.vim.git
[submodule "bundle/SuperTab"]
	path = bundle/SuperTab
	url = git://github.com/vim-scripts/SuperTab.git
[submodule "bundle/The-NERD-Commenter"]
	path = bundle/The-NERD-Commenter
	url = git://github.com/vim-scripts/The-NERD-Commenter.git
